USE [master]
GO
/****** Object:  Database [PricingApplication]    Script Date: 12/10/2016 5:41:23 PM ******/
CREATE DATABASE [PricingApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PricingApplication', FILENAME = N'C:\DataMindIt\PricingApplication.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PricingApplication_log', FILENAME = N'C:\DataMindIt\PricingApplication_log.ldf' , SIZE = 84416KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PricingApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PricingApplication]
GO
/****** Object:  Table [dbo].[PR_PRICE]    Script Date: 12/10/2016 5:41:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PR_PRICE](
	[Item_ID] [int] NOT NULL,
	[Price_Date] [date] NOT NULL,
	[Price_Value] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PR_PRICE] PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC,
	[Price_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
