USE [master]
GO
/****** Object:  Database [ItemCatalogue]    Script Date: 12/9/2016 6:13:20 PM ******/
CREATE DATABASE [ItemCatalogue]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ItemCatalogue', FILENAME = N'D:\DBBackups\ItemCatalogue.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ItemCatalogue_log', FILENAME = N'D:\DBBackups\ItemCatalogue_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ItemCatalogue].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ItemCatalogue]
GO
/****** Object:  Table [dbo].[IC_BRAND]    Script Date: 12/9/2016 6:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IC_BRAND](
	[Brand_ID] [int] IDENTITY(1,1) NOT NULL,
	[Brand_Name] [varchar](100) NOT NULL,
	[Brand_Desc] [varchar](1000) NULL,
 CONSTRAINT [PK_IC_BRAND] PRIMARY KEY CLUSTERED 
(
	[Brand_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IC_CATEGORY]    Script Date: 12/9/2016 6:13:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IC_CATEGORY](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [varchar](100) NOT NULL,
	[Category_Desc] [varchar](1000) NULL,
 CONSTRAINT [PK_IC_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IC_BRAND]    Script Date: 12/9/2016 6:13:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IC_BRAND] ON [dbo].[IC_BRAND]
(
	[Brand_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IC_CATEGORY]    Script Date: 12/9/2016 6:13:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IC_CATEGORY] ON [dbo].[IC_CATEGORY]
(
	[Category_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
