USE [master]
GO
/****** Object:  Database [PromotionApplication]    Script Date: 12/9/2016 6:12:40 PM ******/
CREATE DATABASE [PromotionApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PromotionApplication', FILENAME = N'D:\DBBackups\PromotionApplication.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PromotionApplication_log', FILENAME = N'D:\DBBackups\PromotionApplication_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PromotionApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PromotionApplication]
GO
/****** Object:  Table [dbo].[PA_ITEM]    Script Date: 12/9/2016 6:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PA_ITEM](
	[Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_Name] [varchar](100) NOT NULL,
	[Item_Description] [varchar](1000) NOT NULL,
	[Brand_ID] [int] NOT NULL,
	[Brand_Name] [varchar](100) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Category_Name] [varchar](100) NOT NULL,
	[Price_Date] [date] NULL,
	[Price_Value] [float] NULL,
 CONSTRAINT [PK_PA_ITEM] PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PA_ITEM]    Script Date: 12/9/2016 6:12:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PA_ITEM] ON [dbo].[PA_ITEM]
(
	[Item_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
